.App {
  text-align: center;
}

body {
  color: #fff;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  background-color: #212121;
}

.cardOverlay:hover::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.cardOverlay:hover::before {
  opacity: 1;
}